{% extends 'base.html' %}

{% block content %}
<div class="signup">
	<div class="row">
		<div class="col s12 col--facebook">
			<a href="#" class="btn btn--facebook">
				<i class="fab fa-facebook-f"></i> Continue with Facebook
			</a>
		</div>
		<div class="col s12 col--google">
			<a href="#" class="btn btn--google">
				<i class="fab fa-google"></i> Continue with Google
			</a>
		</div>
	</div>
	<div class="divider-or"></div>
	<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button type="submit" class="waves-effect waves-light btn btn--signup">Create My Account</button>
	</form>
	<a href="#" class="private-policy">Private Policy</a>
	<hr class="divider">
	<p class="broker-login">You are a real estate broker? <a href="#">Broker login</a></p>
</div>
{% endblock %}
