// Screen sizes
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// Colors
$primary-color: #264557 !default;
$secondary-color: #547589 !default;
$btn-color: #5bb6bd !default;
